body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  }

a {
  text-decoration: none;
}

.main-navigation {
    display: flex;
    flex-direction: row;
     align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
  text-transform: uppercase;
    margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: #a6a6a6;
}

.slider-item p {
  font-weight: 400;
}

li.slider-item b {
  font-size: 55px;
  line-height: 55px;  
}

li.slider-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
    display: block;
    width: 240px;
  text-transform: uppercase;
    text-align: center;
  border: 1px solid #fb565a;
    background-color: #fb565a; 
    padding: 10px 45px;
}

li.slider-item a:hover {
    background-color: #e74246;
}
li.slider-item a:focus {
    background-color: #d7373b;
    color: #e37376;
}

.service-item {
  text-align: left;
    width: 300px;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
    font-weight: 700;
  text-transform: uppercase;  
}

.service-item a {
  text-decoration: none;
}

li.service-item {
  list-style: none;
    
}

li.service-item a.button-red {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 160px;
    border: 1px solid #fb565a;
    background-color: #fb565a; 
    padding: 20px 40px;
}

li.service-item a.button-red:hover {
    background-color: #e74246;
}
li.service-item a.button-red:focus {
    background-color: #d7373b;
    color: #e37376;
}

li.service-item a.button-green {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 160px;
  border: 1px solid #00ca74;
    background-color: #00ca74; 
    padding: 20px 40px;
}

li.service-item a.button-green:hover {
    background-color: #00bc6c;
}
li.service-item a.button-green:focus {
    background-color: #00aa62;
    color: #4dc491;
}

li.service-item a.button-yellow {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 160px;
  border: 1px solid #efc84a;
    background-color: #efc84a; 
    padding: 20px 40px;
}

li.service-item a.button-yellow:hover {
    background-color: #eab534;
}
li.service-item a.button-yellow:focus {
    background-color: #e5a722;
    color: #edc265;
}

.studio b {
  font-size: 45px;
  line-height: 45px;  
}

strong.studio-service {
    text-transform: uppercase;
    font-weight: 700;
}
ul.studio-service li {
   list-style: none;
}

table {
    width: 360px;
    height: 150px;
    margin-top: 41px;
}
caption {
    text-transform: uppercase;
    font-weight: 700;
}
  
.row-1 {
  font-size: 45px;
  line-height: 10,06px;
    font-weight: 700;
    
}

.row-1 td {
    vertical-align: bottom;
    padding-right: 25px;
}

.row-2 {
  line-height: 18px;
    font-weight: 400;
}

.client-logo li {
    list-style: none;
}

.footer-contacts b {
   text-transform: uppercase;
    font-size: 18px;
  line-height: 30px;
    font-weight: 700;
}

.footer-contacts .button {
    font-size: inherit;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 219px;
  border: 1px solid #fb565a;
    background-color: #fb565a; 
    padding: 15px 45px;
}

.footer-social {
  text-align: center;
    
}

.footer-social ul {
  list-style: none;
}
.social-button {
  color: #000000;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
    font-weight: 700;
    text-align: left;
}

.footer-social p {
   line-height: 22px;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

.modal-mail-service h2 {
    font-size: 45px;
  line-height: 45px;
}

.mail-service-form label {
    line-height: 18px;
    font-weight: 700;
}

.mail-service-item input, textarea {
  font: inherit;
    font-weight: 400;
  background-color: transparent;
  border: 2px solid #cccccc;
}

.mail-service-item input:hover {
    border: 2px solid #b4b9bb;
}

.mail-service-item input:focus {
    border: 2px solid #000000;
}

.mail-service-item textarea:hover {
    border: 2px solid #b4b9bb;
}

.mail-service-item textarea:focus {
    border: 2px solid #000000;
}

.mail-service-form .button {
    font-size: inherit;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 260px;
  border: 1px solid #fb565a;
    background-color: #fb565a; 
    padding: 15px 45px;
}

.main-header b {
    display: flex;
    font-size: 55px;
  line-height: 55px;
    
}

.store b {
    display: flex;
    justify-content: center;
    font-size: 55px;
  line-height: 55px;
    
}


.filter fieldset {
  border: none;
}

.filter-input + label {
  color: #565b5e;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #ced0d0;
    
opacity: 0.5;
}

.filter button {
    font-size: inherit;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
    text-align: center;
    display: block;
    width: 260px;
  border: 1px solid #eeeeee;
    background-color: #eeeeee; 
    padding: 15px 45px;
    margin-top: 43px;
}

.filter button:hover {
    color: #000000;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
}

.filter button:focus {
    color: #959595;
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
}

.filter legend {
    text-transform: uppercase;
    font-weight: 700;
}

.filter-option {
  list-style: none;
    font-weight: 400;
}

.filter-option label {
  font-size: inherit;
  line-height: 20px;
}

.catalog p.sorting {
    text-transform: uppercase;
    font-weight: 700;
}

.catalog ul {
    list-style: none;
}

.parameter a {
    text-transform: uppercase;
    color: #cacaca;
    
}

.parameter a:hover {
    color: #8d8d8d;
}

.parameter a:focus {
    color: #000000;
}

.pagination-list a {
    font-size: inherit;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.pagination-item a {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    padding: 5px 5px;
}

.pagination-item a:hover {
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    padding: 5px 5px;
}

.pagination-item a:focus {
    color: #959595;
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
    padding: 5px 5px;
}

.pagination-item a:active {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    padding: 5px 5px;
}

.catalog-item-hover b {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.catalog-item-hover p {
    font-size: inherit;
    line-height: 18px;
    font-weight: 400;
}

.catalog-item-hover a {
    font-size: inherit;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 200px;
    border: 1px solid #fb565a;
    background-color: #fb565a; 
    padding: 15px 45px;
}

.catalog-item-hover a:hover {
    border: 1px solid #e74246;
    background-color: #e74246; 
}

.catalog-item-hover a:focus {
    border: 1px solid #d7373b;
    background-color: #d7373b; 
}


.main-header {
    margin-bottom: 80px;
    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
  height: 65px;
}

.site-navigation {
    width: 434px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-navigation {
    width: 120px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 18px;
}

.container {
    width: 1160px;
  margin: 49px auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
    align-items: flex-end;
}

.service-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  padding: 0;
}

.services {
    margin-bottom: 80px;
}

.studio {
    width: 660px;
    padding-top: 80px;
}

.chart {
    width: 360px;
    padding-top: 42px;
}



.index-columns2 {
    display: flex;
    justify-content: space-between;
    
}

.slider-image1 {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    width: 760px;
    height: 431px;
}

.slider-image2 {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    width: 760px;
    height: 431px;
}

.slider-image3 {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    width: 760px;
    height: 431px;
}


.visually-hidden {
    display: none;
}

.slider-item {
    display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.service-item p {
    font-weight: 400;
}

.studio p {
    font-weight: 400;
    margin-top: 37px;
    width: 660px;
    height: 65px;
}
.studio-service li {
    list-style: none;
    font-weight: 400;
    color: #283136;
    line-height: 35px;
    text-align: left;
}

.studio-service {
    width: 450px;
    height: 160px;
    
    
}



.client-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.client-logo li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 182px;
    
}



.footer-contacts p {
    font-weight: 400;
}


/*
.skroll {
    width: 224px;
    background: #d7dcde;
    height: 2px;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 14px;
    margin-top: 56px;
  
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
    width: 20px;
    background: #ffffff;
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}

.skroll_left {
  left: 5px;
}

.skroll_right {
  right: 60px;
}

.skroll_field {
  width: 122px;
  height: 2px;
  background: #00ca74;
  left: 54px;
}
*/

.filter legend .grid {
    margin-top: 62px;
    margin-bottom: 27px;
}

legend .features {
    margin-top: 51px;
    margin-bottom: 27px;
}

.filters {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  margin: 0;
}

.picking {
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parameter {
    width: 272px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    width: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.catalog-item-hover {
    text-align: center;
}


.flypage {
    width: 360px;
    padding-top: 40px;
    background-color: #e9e9e9;
    position: relative;
}

.flypage::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 23px 0 0 0 #ffffff, 46px 0 0 0 #ffffff;
}

.flypage:hover {
    background-color: #4d4d4d;
}



.catalog-columns {
    display: flex;
    justify-content: space-between;
    
}

.parambut {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination-list {
    padding: 0;
    margin: 0;
    
}

.main-footer {
    margin-top: 80px;
}

.discount {
    width: 545px;
        
}

.container-1 {
    width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
    position: relative;
    
    background-color: #eeeeee;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.filter-price label {
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 5px;
}

.filter-price input {
    font: inherit;
    line-height: 22px;
    font-weight: 400;
    width: 80px;
    height: 38px;
  background-color: transparent;
  border: 2px solid #cccccc;
    text-align: center;
}
}

.price-range {
    width: 260px;
    height: 38px;
}

#from {
    margin-right: 20px;
}

legend .price {
    margin-bottom: 56px;
}
